body{
    background-color: aliceblue;
}
.container{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: ce;
}
#inputData{
    width: 350px;
    height: 35px;
    background-color: rgb(19, 88, 192);
    border-radius: 5px;
}
#btn{
    margin-top: 15px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(182, 23, 184);
}
#btn:hover{border-style: none;
    background-color: aquamarine;
    border-radius: 10px;
}